In [1]:
#Подключаем библиотеки
import pandas as pd
import numpy as np

In [2]:
#Загружаем данные
data = pd.read_csv("data.csv", header = None)
data = data.iloc[:-1, range(0, 7)]
data

         0       1       2       3       4       5       6
0   246522  240194  231202  240762  232360  235771  233188
1   230751  226797  218084  224106  224113  220593  218335
2   225080  218412  209342  214906  218213  207529  217868
3   217014  211710  204419  219883  217520  203438  217039
4   210617  203353  195842  214097  222913  212459  218594
5   217604  209182  210110  217768  234134  212402  216982
6   218100  226676  249215  250517  250820  244385  244902
7   243768  232577  284586  287202  281322  274520  279443
8   274684  248260  314869  313898  303546  303742  310388
9   287652  254153  317435  318857  324751  313263  316715
10  295461  263652  336809  328622  328648  325557  324425
11  302629  265752  341587  330879  328538  324151  333865
12  297696  269149  313915  316002  308513  308603  308493
13  291627  261276  327317  323116  318189  310775  312826
14  276094  255805  319331  294715  313300  307830  307951
15  269451  243897  304325  297915  304947  295088  300954
16  264513  240385  303370  294034  305937  293033  302778
17  257118  234147  284823  276894  284967  268523  275561
18  254096  241164  282444  274113  283182  268943  284973
19  245778  250643  268836  275956  276693  270845  268280
20  247829  241171  273151  270851  263827  268178  271750
21  250195  252240  281349  274912  269103  281523  276802
22  252787  257979  270874  266797  273229  278362  283172
23  248235  246011  255632  255852  260529  270118  271700

In [3]:
# Усредненные значения
data_mean = pd.DataFrame(np.zeros((len(data), len(data.columns))))

for i in range(0, len(data.columns)):
    mean = np.mean(data[range(0,len(data.columns))[i]])
    
    for j in range(0, len(data)):
        data_mean.iloc[j, i] = data.iloc[j, i] - mean
        
data_mean

,0,1,2,3,4,5,6
0,-8698.875,-1247.041667,-43750.791667,-33515.25,-43860.583333,-35046.958333,-41686.333333
1,-24469.875,-14644.041667,-56868.791667,-50171.25,-52107.583333,-50224.958333,-56539.333333
2,-30140.875,-23029.041667,-65610.791667,-59371.25,-58007.583333,-63288.958333,-57006.333333
3,-38206.875,-29731.041667,-70533.791667,-54394.25,-58700.583333,-67379.958333,-57835.333333
4,-44603.875,-38088.041667,-79110.791667,-60180.25,-53307.583333,-58358.958333,-56280.333333
5,-37616.875,-32259.041667,-64842.791667,-56509.25,-42086.583333,-58415.958333,-57892.333333
6,-37120.875,-14765.041667,-25737.791667,-23760.25,-25400.583333,-26432.958333,-29972.333333
7,-11452.875,-8864.041667,9633.208333,12924.75,5101.416667,3702.041667,4568.666667
8,19463.125,6818.958333,39916.208333,39620.75,27325.416667,32924.041667,35513.666667
9,32431.125,12711.958333,42482.208333,44579.75,48530.416667,42445.041667,41840.666667
10,40240.125,22210.958333,61856.208333,54344.75,52427.416667,54739.041667,49550.666667
11,47408.125,24310.958333,66634.208333,56601.75,52317.416667,53333.041667,58990.666667
12,42475.125,27707.958333,38962.208333,41724.75,32292.416667,37785.041667,33618.666667
13,36406.125,19834.958333,52364.208333,48838.75,41968.416667,39957.041667,37951.666667
14,20873.125,14363.958333,44378.208333,20437.75,37079.416667,37012.041667,33076.666667
15,14230.125,2455.958333,29372.208333,23637.75,28726.416667,24270.041667,26079.666667
16,9292.125,-1056.041667,28417.208333,19756.75,29716.416667,22215.041667,27903.666667
17,1897.125,-7294.041667,9870.208333,2616.75,8746.416667,-2294.958333,686.666667
18,-1124.875,-277.041667,7491.208333,-164.25,6961.416667,-1874.958333,10098.666667
19,-9442.875,9201.958333,-6116.791667,1678.75,472.416667,27.041667,-6594.333333
20,-7391.875,-270.041667,-1801.791667,-3426.25,-12393.583333,-2639.958333,-3124.333333
21,-5025.875,10798.958333,6396.208333,634.75,-7117.583333,10705.041667,1927.666667
22,-2433.875,16537.958333,-4078.791667,-7480.25,-2991.583333,7544.041667,8297.666667
23,-6985.875,4569.958333,-19320.791667,-18425.25,-15691.583333,-699.958333,-3174.333333

In [4]:
# Корреляция
corr = pd.DataFrame(np.zeros((len(data.columns), len(data.columns))))

for i in range (0, len(data.columns)):
    for j in range(0, len(data.columns)):
        fg = np.sum(data_mean[i] * data_mean[j])
        f = np.sqrt(np.sum(data_mean[i] ** 2))
        g = np.sqrt(np.sum(data_mean[j] ** 2))
        corr.iloc[i, j] = fg / (f * g)
        
corr

          0         1         2         3         4         5         6
0  1.000000  0.899792  0.937385  0.943720  0.928378  0.937644  0.935076
1  0.899792  1.000000  0.870417  0.864577  0.827963  0.906029  0.872350
2  0.937385  0.870417  1.000000  0.987528  0.984345  0.985854  0.987438
3  0.943720  0.864577  0.987528  1.000000  0.978209  0.979458  0.979263
4  0.928378  0.827963  0.984345  0.978209  1.000000  0.976216  0.983483
5  0.937644  0.906029  0.985854  0.979458  0.976216  1.000000  0.990452
6  0.935076  0.872350  0.987438  0.979263  0.983483  0.990452  1.000000